
.navbar-right{

    margin-left: 0px;
    margin-right: 5px;
    margin-top: 5px;
}

.navbar {
    /*margin: 0px;*/
    line-height: 15px;
    margin-bottom: 10px;
}

body {
    background-color: #DDD
}

.errors {
    color: red;
    font-weight: bold;

}

.lignesEspacees {
    border-collapse: separate;
    border-spacing: 10px;
    font-size: small;
    font-weight: bold;
}

#label {
    position:relative;
    top: 0px;
    left: 5px;
}

#onBook{
    position:relative;
    top: -50px;
    left: 5px;
}

#bookName {
    position:relative;
    top: 0px;
    left: 5px;
}

#bookAuthor {
    position:relative;
    top: 0px;
    left: 5px;
}

[class*="col"] {
    margin-bottom: 20px;
}

img {width: 100%}


h1{
    color: blue;
    font-weight: bold;
}