<!DOCTYPE HTML>
<!--<html xmlns:th="http://www.thymeleaf.org">-->
<!--<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">-->
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Bibliothèque</title>

    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">

    <link rel="stylesheet" th:href="@{/main.css}" />

</head>

<header class="raw">
    <div th:include="_include/header.html"/>
</header>
<body>


<div class="container">

    <!-- Body
       ================================================== -->

    <!-- display site -->
    <p></p>
    <p><b>L'email et le mot de passe n'ont pas été reconnu, veuillez re-essayer ou vous enregistrer.</b></p>

</div>


<!-- jQuery -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<!-- Javascript de Bootstrap -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>

</body>
</html>