<!DOCTYPE HTML>

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <div th:insert="_include/head.html"></div>
</head>

<header class="raw">
    <div th:insert="_include/header.html"></div>
</header>

<body>


<div class="container">

    <div class="row">
        <div th:each="b : ${books}" class="col-xs-4 col-sm-3 col-md-2">
            <!-- title and author -->
            <!--<div th:text="${b.bookname}" style="font-weight: bold" id="bookName"></div>-->
            <!--<div th:text="${b.bookauthor}"style="font-style: italic" id="bookAuthor"></div>-->
            <p></p>
            <!-- cover and description (mouse over) -->
            <img th:src="${b.bookpictureurl}" style="width:150px;height:200px; border:0px;" class="img-rounded"
                 th:title="'*Nom:' +${b.bookname} + ' *Auteur:' + ${b.bookauthor} + ' *Description:' + ${b.bookdescription}">
            <!--<span class="label label-default" th:text="${b.booklabel}"></span>-->
            <!-- tag -->
            <div>
            <span class="label label-default" id="label" th:text="${b.booklabel}"></span>
            </div>
            <!-- disponibility -->
            <div>
                <a th:href="@{'/book/'+ ${b.id}}" type="button" class="btn btn-xs btn-primary" id="onBook"
                    th:if="${!b.allbookreserved}">Disponible</a>
                <span class="label label-danger" id="onBookNoDispo" th:if="${b.allbookreserved}">Non Disponible</span>
            </div>

        </div>
    </div>
</div>


<!-- jQuery -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<!-- Javascript de Bootstrap -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>

<!-- tooltip -->
<script>
    $(function () {
        $('[data-toggle="tooltip"]').tooltip()
        $('[data-toggle="popover"]').popover()
    })
</script>


<!-- autocompletion -->
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

<!-- UI -->
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">


<script type="text/javascript">
    $(function() {
        $("#Book_name").autocomplete({
            source: "bookNameAutocomplete",
            minLength: 3,
        });
    });

</script>


</body>
</html>