<!DOCTYPE HTML>

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <div th:insert="_include/head.html"></div>
</head>

<header class="raw">
    <div th:insert="_include/header.html"></div>
</header>

<body>


<div class="container">

    <h1>Application Bibliotheque</h1>

    <div class="row">
        <div th:each="b : ${books}" class="col-md-4 my-1">
            <div th:text="${b.booklabel}"></div>
            <div th:text="${b.bookname}"></div>
            <div th:text="${b.bookauthor}"></div>
            <img th:src="${b.bookpictureurl}"  class="card-img-top" />
            <div th:text="${b.bookdescription}"></div>
            <!--<input type="text" name="userName" value="James Carrot" th:value="${books.bookname}" />-->
            <!--<a th:href="@{|/details-produit/${produit.id}|}" >-->
            <!--<img th:src="${produit.image}"  class="card-img-top" />-->
            <!--<p th:text= "${produit.titre}"></p>-->
            <!--</a>-->
        </div>

    </div>

</div>


<!-- jQuery -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<!-- Javascript de Bootstrap -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>

</body>
</html>