<!DOCTYPE HTML>
<!--<html xmlns:th="http://www.thymeleaf.org">-->
<!--<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">-->
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <div th:insert="_include/head.html"></div>
</head>

<header class="raw">
    <div th:insert="_include/header.html"></div>
</header>

<body>


<div class="container">

    <!-- Body
   ================================================== -->

    <!-- display for write new user -->
    <br>
    <div id="Search">
        <h3>Affiner la recherche de livre:</h3>
        <p></p>
        <form action="#" th:action="@{/SearchPost}"  method='POST'>
            <div class="form-group">
                <p>Par bibliothèque:</p>
                <p></p>
                <select th:object="${library}" th:field="*{libraryname}" class="form-control" style="width: auto">
                    <option value=""> -- </option>
                    <option th:each="l : ${libraries}"
                            th:value="${l.libraryname}"
                            th:text="${l.libraryname.toString()}"></option>
                </select>
                <p></p>
                <p>par genre:</p>
                <select th:object="${book}" th:field="*{booklabel}" class="form-control" style="width: auto">
                <option value=""> -- </option>
                <option th:each="b : ${books}"
                        th:value="${b.booklabel}"
                        th:text="${b.booklabel.toString()}"></option>
                </select>
                <p></p>
                <button type="submit" class="btn btn-primary">Envoyer</button>
            </div>
        </form>
    </div>




</div>


<!-- jQuery -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<!-- Javascript de Bootstrap -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>

</body>
</html>